# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
sysinfo.txt
*.stacktrace
# Unity temporary folder
.utmp/


# Rider / VSCode / Visual Studio
.vs/
.vscode/
.idea/

# Crash and build files
*.pidb
*.booproj
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.dll
*.exe
*.pdb
*.mdb

# OS files
.DS_Store
Thumbs.db
